[submodule "test/mls-unit-test"]
	path = test/mls-unit-test
	url = https://github.com/mls-m5/mls-unit-test.git
[submodule "lib/gsl"]
	path = lib/gsl
	url = https://github.com/microsoft/gsl
[submodule "matmake"]
	path = matmake
	url = https://github.com/mls-m5/matmake
